html 
{
   font-size: 100%;
   box-sizing: border-box; 
} 
*, *::before, *::after {
    box-sizing: inherit; 
}

.debug{
    border: 1px solid red;
}


p{
    margin-top: 3px;
    margin-bottom: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: $font-sm;
    color: $Black;
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans',sans-serif;
    line-height: 1.3;
    color:$GrayishBlue;
    font-size: 14px;
    
 &.noscroll{
     overflow: hidden;
 }   
}

a, a:visited, a:hover {text-decoration: none;}

//spacing
.container {
    max-width: 1110px;
    margin: 0 auto;
    
    &--pall{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px
    {
        padding-left: 1.5rem;
        padding-right: 1.5rem;    
    }
    &--py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--pt{
        padding-top: 2.25rem;
    }
    &--pl{
        padding-left: 1.5rem;    
    }
    &--pr{
        padding-right: 1.5rem;    
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
 }

 main
 {
     section:last-child
     {
        margin-left: auto;
     }
 }

//FLEXBOX
.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-jc-l{
        justify-content: flex-start;
    }
    
    &-ai-c {
        align-items: center;
    }
    &-ai-b {
        align-items: flex-end;
    }
    &-column {
        flex-flow: wrap column;
        align-content: center;
        margin: 0 auto;
        justify-content: center;
        justify-items: center;
    }

    &-column-t {
        flex-flow: wrap column;
        align-content: center;
        margin: 0 auto;
        justify-content: flex-start;
    }

    &-column-l {
        flex-flow: wrap column;
        align-content: center;
        margin: 0 auto;
        justify-content: flex-start;
    }
    
    &-row {
        flex-flow: wrap row;
        align-content: center;
        margin: 0 auto;
        justify-content: center;
    }

    &-row-l {
        flex-flow: wrap row;
        align-content: center;
        margin: 0 auto;
        justify-content: flex-start;
    }

}

//Boxes
.Box{
    &__black{
            margin: 2px;
            text-align: center;
            padding: 2px 7px 2px 7px;
            height: fit-content;
            width: 80px;
            background-color: $Black;
            color: $White;
            p{
                font-size: 8px;
                margin: 0 auto ;
                color: $White;
            }
            h1{
                font-size: 17px;
                font-weight: 1000;
            }
    }
    &__value{
            height: fit-content;
            width: fit-content;
            color: $White;
            margin: 1px;
            p:first-child{
                background-color: $White;
                margin: 0 auto;
                font-size: 15px;
                text-align: center;
                border: 2px solid $Black;
                width: 40px;
                height: 25px;
            }
    }
    &__input {
            margin: 1px;
            height: fit-content;
            width: fit-content;
            color: $White;
           
            input{
                text-align: center;
                border: 2px solid $Black;
                height: 25px;
                width: 40px;

            }
        
    }
}

//Buttons
button, .button {
    padding: 0.875rem 2.875rem;
    background: linear-gradient( 90deg, hsl(136,65%,51%),hsl(192,70%,51%));
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    display: inline-block;
    font-size: $font-sm;
    transition: opacity 300ms ease-in-out ;

    &:hover{
        opacity: 0.75;
        
    }
}

h1,h2,h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-size: 30px;
    margin-bottom: 25px;
    @include breakpoint-up(large){
        font-size: 36px;
        margin-bottom:36px
    }
    
}

.hide-for-mobile {
@include breakpoint-down(medium){
    display: none;
}

}

.hide-for-desk {
    @include breakpoint-up(large){
        display: none;
    }

}