html 
{
   font-size: 100%;
   box-sizing: border-box; 
   list-style-type: none;
   text-decoration: none;
} 
*, *::before, *::after {
    box-sizing: inherit; 
}

.debug{
   // border: 1px solid red;
}
*{
    list-style-type: none;
}

.flex-auto{
    flex: auto;
}

//GRID CONTAINER
.grid{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

}


p{
    margin-top: 3px;
    margin-bottom: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: $font-sm;
    color: $Black;
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans',sans-serif;
    line-height: 1.3;
    color:$GrayishBlue;
    font-size: 14px;
    
 &.noscroll{
     overflow: hidden;
 }   
}

a, a:visited, a:hover {text-decoration: none;}

//spacing
.container {
    max-width: 1100px;
    margin: 0 auto;
    
    &--pall{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px
    {
        padding-left: 1.5rem;
        padding-right: 1.5rem;    
    }
    &--py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--pt{
        padding-top: 2.25rem;
    }
    &--pl{
        padding-left: 1.5rem;    
    }
    &--pr{
        padding-right: 1.5rem;    
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
 }

 main
 {
     height: 1300px;
     flex-flow: column wrap;
     section:last-child
     {
        margin-left: auto;
     }
 }

//FLEXBOX
.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-jc-l{
        justify-content: flex-start;
    }
    
    &-ai-c {
        align-items: center;
    }
    &-ai-b {
        align-items: flex-end;
    }
    &-ai-sb {
        align-items: space-between;
    }
    &-column {
        flex-flow: wrap column;
        align-content: center;
        margin: 0 auto;
        justify-content: center;
        justify-items: center;
    }

    &-column-t {
        flex-flow: wrap column;
        align-content: center;
        margin: 0 auto;
        justify-content: flex-start;
    }

    &-column-l {
        flex-flow: wrap column;
        align-content: center;
        margin: 0 auto;
        justify-content: flex-start;
    }
    
    &-row {
        flex-flow: wrap row;
        align-content: center;
        margin: 0 auto;
        justify-content: center;
    }

    &-row-l {
        flex-flow: wrap row;
        align-content: center;
        margin: 0 auto;
        justify-content: flex-start;
    }

}

//Boxes
.Box{
    &__black{
            margin: 2px;
            text-align: center;
            padding: 2px 7px 2px 7px;
            height: fit-content;
            width: 80px;
            background-color: $Black;
            color: $White;
            p{
                font-size: 8px;
                margin: 0 auto ;
                color: $White;
            }
            h1{
                font-size: 17px;
                font-weight: 1000;
            }
    }
    &__value{
            width: 40px;
            height: 25px;
            color: $White;
            border: 1px solid $Black;
            background-color: $White;
            

            p{
                background-color: $White;
                font-size: 15px;
                text-align: center;
                //border: 1px solid $Black;
                margin: 0 auto;
            }
    }
    &__input {
            margin: 1px;
            height: fit-content;
            width: fit-content;
            color: $White;
           
            input{
                text-align: center;
                border: 2px solid $Black;
                width: 40px;
                height: 25px;

            }
        
    }
}

//Buttons
button, .button {
    padding: 5px 20px 5px 20px;
    background: black;
    border: 0px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    display: inline-block;
    font-size: 15px;
    transition: opacity 300ms ease-in-out ;

    &:hover{
        color: black;
        background: white;
        
    }
}

//Margins
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}


//MODAL
.modal{
    // display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
     
    
    &_content{
     //max-width: 1000px;
     border-radius: 15px;
     //background-color: #fefefe;
     color: white;
     //color: rgba(209, 206, 209, 0.4);
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
     backdrop-filter: blur(6px);
     margin: auto;
     //padding: 20px;
     border: 1px solid #888;
     width: 90%;
    }

    &_hidden{
        display: none;
    }
    
    &_title{
        padding: 20px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius:15px;
        border-bottom:1px solid white;
        //max-width: 700px;
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
 
    }
 
    &_body{
        min-width: 300px;
        //max-width: 300px;
        width: 100%;
        height: 300px;
        //margin: 5px;
        input{
            width: 80%;
            border-radius: 15px;
            padding: 15px 30px 15px 30px;
        }
    }
    &_footer{
        padding: 20px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius:15px;
        border-top:1px solid white;
        //max-width: 700px;
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
    }
    
 }

.plus
     {
            height: fit-content;
            margin-left: 5px;
            margin-top: 5px;
            margin-right: 5px;
            p
            {
                font-size: 15px;
            }
        
        
       
}

h1,h2,h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-size: 30px;
    margin-bottom: 25px;
    @include breakpoint-up(large){
        font-size: 36px;
        margin-bottom:36px
    }
    
}

.hide-for-mobile {
@include breakpoint-down(medium){
    display: none;
}

}

.hide-for-desk {
    @include breakpoint-up(large){
        display: none;
    }

}

.overlay
{

    background-image: linear-gradient($Black,transparent);
    opacity: 1;
    position: fixed;
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}