.HpAndArmor{
    
    //GRID PROPERTIES
    
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;

    .hp{
        
        &__name{
            p:first-child{
               height: 20px;
               text-align: center;
               margin-top: 3px;
            }
            ul{
                margin-top: 2px;
                margin-bottom: 2px;
                padding: 0;
            }
            
        }
        
        &__value{
            p:first-child{
               height: 20px;
               text-align: center;
               margin-top: 3px;
            }
            ul{
                margin-top: 2px;
                margin-bottom: 2px;
                padding: 0;
            }
            li
            {   margin-left: 5px;
                height: fit-content;
            }
            

        } 

        &__extra{
            p:first-child{
               height: 20px;
               text-align: center;
               margin-top: 3px;
            }
            ul{
                margin-top: 2px;
                margin-bottom: 2px;
                padding: 0;
            }
            input{
                width: 50px;
            }
            li
            {
                margin-left: 5px;
                height: 25px;
            }
        }

        &__wounds{
            width: 170px;
            margin-left: 20px;
            //margin-right: 20px;
            p:first-child{
               height: 20px;
               text-align: center;
               margin-top: 3px;
            }
            ul{
                width: inherit;
                margin-top: 2px;
                margin-bottom: 2px;
                padding: 0;
            }
            li{
                align-items: center;
                width: inherit;
            }
            input{
                margin-left: 5px;
                width: inherit;
            }
            li
            {
                height: 25px;
            }
        }

        &__nonlethaldamage
        {
            p:first-child{
                height: 20px;
                text-align: center;
                margin-top: 3px;
             }
             
             ul{
                 margin-top: 2px;
                 margin-bottom: 2px;
                 padding: 0;
             }
             input{
                 width: 50px;
             }
             li
            {
                height: 25px;
            }
        }
        
        &__speed{
            margin-left: 20px;
            margin-right: 20px;
            p:first-child{
               height: 20px;
               text-align: center;
               margin-top: 3px;
            }
            ul{
                width: 120px;
                margin-top: 2px;
                margin-bottom: 2px;
                padding: 0;
            }
            li{
                align-items: center;
                width: inherit;
            }
            input{
                margin-left: 12px;
                width: inherit;
            }
            li
            {
                height: 25px;
            }
        }

    }
    .ac{
        &__name
        {
            p:first-child{
               height: 20px;
               text-align: center;
               margin-top: 3px;
            }
            ul{
                margin-top: 2px;
                margin-bottom: 2px;
                padding: 0;
            }
            
           
        }
        &__input
        {
            ul{
                padding: 0;
                li
                {
                    margin-top: 5px;
                    margin-left: 5px;

                    p
                    {
                        text-align: center;
                    }
                }
            }
        }
       
        &__base
        {
            ul{
                padding: 0;
                li
                {
                    margin-top: 5px;
                    margin-left: 5px;

                    p
                    {
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }

        &__reduction
        {
            ul{
                padding: 0;
                li
                {
                    div
                    {
                        width: 80px;
                    }
                    margin-top: 5px;
                    margin-left: 5px;

                    input
                    {
                        width: 80px;
                    }
                }
            }
        }

        &__plus
        {
            margin-left: 5px;
            margin-top: 5px;
            p
            {
                font-size: 15px;
            }
        }
        
        &__flatName
        {
            ul
            {
                width: fit-content;
                li
                {
                    width: fit-content;
                }
            }
        }
    }
    .init{
        margin-top: 6px;
        &__inicitiveName
        {
            margin-right: 10px;
            ul
            {
                width: fit-content;
                li
                {
                    width: fit-content;
                }
            }
        }

        &__inicitiveValue
        {
            text-align: center;
            
        }
        &__dex{
            margin-left: 6px;
            text-align: center;
        }
        &__misc{
            margin-right: 20px;
            margin-left: 6px; 
            text-align: center;
        }
    }



}
.ArmorAndIniciative
{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    ul{
        padding: 0;
        width: fit-content;
    }
    li{
        width: fit-content;
    }
    h1{
        width: fit-content;
        font-size: 16px;
    }
    .ac__plus{
        p{
            font-size: 14px;
        }
        
    }
    


}

