.skill{
    


    &__name
    {
        align-items: center;
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
        width: 190px;
        input
        {
            margin: 0;
        }
        p{
            font-weight: 800;
            font-size: 9px;
            width: fit-content;
        }
    }
    &__modifier
    {
        
        height: fit-content;
        width: 45px;
        margin: 0;
        p
        {
            font-size: 10px;
            text-align: center;
        }
    }
    &__skills
    {
            margin: 0;
            height: fit-content;
            input{
                margin-left: 0 auto;
                border: none;
                border-bottom: 1px solid;
                height: fit-content;
                width: 37px;
            }
           
    }
    &__value
    {
        margin: 0;
        border-left:2px solid $Black ;   
        border-right:2px solid $Black;
        border-top: 1px solid $Black;
        border-bottom: 1px solid $Black;
        width: fit-content;
        p{
            text-align: center;
            width: 45px;
        }
    }
    &__container{
        //GRID FORM
     grid-column-start: 7;
     grid-column-end: 12;
     grid-row-start: 2;
     grid-row-end: 12;
       // width: fit-content;
        
    }
   // left: 62%;
   // width: fit-content;
   // bottom: 37%;
    ul{
        h1{
            margin-left: 40%;
            margin-right: 0;
            height: fit-content;
        }
        padding: 0;
        width: fit-content;
        li:nth-child(1){
          //  padding: 10px 5px 10px 5px;
            margin: auto;
            width: 415px;
            div:nth-child(2){
                height: fit-content;
                margin-right: 0;
                text-align: right;
            }
        }
        li:nth-child(2){
            div:first-child
            {
                width: 190px;
                p{
                    text-align: left;
                    color: $Black;
                    font-size: 15px;
                }
            }
            div{
                border: 1px solid $Black;
                padding: 5px 4px 5px 4px;
                width: 45px;
                    p{
                       text-align: center; 
                    }
                }
        }

    }

    
}

.skillcontainer{
    align-self: stretch;
}