.stats{
    width: 30%;
    p {
        text-align: center;
    }
    &__name{
        p:first-child{
           height: 20px;
        }
        ul{
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
        }
        li{
            text-align: center;
            padding: 2px 7px 2px 7px;
            height: fit-content;
            width: 80px;
            background-color: $Black;
            color: $White;
            p{
                margin: 0 auto ;
                color: $White;
            }
            h1{
                font-weight: 1000;
            }
        }
            
    }
    &__value{
        p:first-child{
            height: 20px;
         }
        ul{
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
        }
        li{
            height: 41px;
            width: 50px;
            color: $White;
           
            input{
                text-align: center;
                border: 1px solid $Black;
                height: 25px;
                width: 40px;

            }
        }
    }
    &__vModifier{
        p:first-child{
            height: 20px;
         }
        ul{
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
        }
        li{
            height: 41px;
            width: 50px;
            color: $White;
            p{
                font-size: 15px;
                margin: 0 auto;
                text-align: center;
                border: 1px solid $Black;
                width: 40px;
            }
            
        }
    }
    &__Temp{
        p:first-child{
            height: 20px;
         }
        ul{
            background-color: $GrayishBlue;
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
        }
        li{
            height: 41px;
            width: 50px;
            color: $White;
           
            input{
                text-align: center;
                border: none;
                height: 25px;
                width: 40px;

            }
        }
    }
    &__tModifier{
        p:first-child{
            height: 20px;
         }
        ul{
            background-color: $GrayishBlue;
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
        }
        li{
            height: 41px;
            width: 50px;
            color: $White;
            p{
                margin: 0 auto;
                background-color: white;
                font-size: 15px;
                text-align: center;
                width: 40px;
            }
         
        }
    }
}
