// Colors
$Black: black;
$Gray:grey;
$BrightCyan:hsl(192,70%,51%);
$GrayishBlue:hsl(233,8%,62%);
$LightGrayishBlue:hsl(220,16%,96%);
$VeryLightGray:hsl(0,0%,98%);
$White:hsl(0,0%,100%);

//Fonts

$font-sm: 10px;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 3.25rem;

