.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.debug {
  border: 1px solid red;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

p {
  margin-top: 3px;
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans',sans-serif;
  line-height: 1.3;
  color: #9698a6;
  font-size: 14px;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container--pall {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

main {
  height: 1300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main section:last-child {
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-l {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-b {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.flex-column-t {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-column-l {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-l {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Box__black {
  margin: 2px;
  text-align: center;
  padding: 2px 7px 2px 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80px;
  background-color: black;
  color: white;
}

.Box__black p {
  font-size: 8px;
  margin: 0 auto;
  color: white;
}

.Box__black h1 {
  font-size: 17px;
  font-weight: 1000;
}

.Box__value {
  width: 40px;
  height: 25px;
  color: white;
  border: 1px solid black;
  background-color: white;
}

.Box__value p {
  background-color: white;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}

.Box__input {
  margin: 1px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}

.Box__input input {
  text-align: center;
  border: 2px solid black;
  width: 40px;
  height: 25px;
}

button, .button {
  padding: 0.875rem 2.875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  display: inline-block;
  font-size: 8px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.75;
}

.plus {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.plus p {
  font-size: 15px;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

@media (min-width: 64em) {
  h2 {
    font-size: 36px;
    margin-bottom: 36px;
  }
}

@media (max-width: 63.937em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desk {
    display: none;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.header .header__box:nth-child(-n+4) {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.header .header__box:nth-child(n+5) {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
}

.header .header__box:nth-child(n+8) {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}

.header__box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header__input {
  width: 100%;
  height: 20px;
  border: none;
}

.header__line {
  border: 1px solid black;
  height: 2px;
  width: 100%;
}

.header__text p {
  margin-bottom: 0px;
  margin-top: 2px;
}

.header__logo {
  position: absolute;
  left: 100%;
  width: 250px;
  height: 100%;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.stats {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.stats p {
  text-align: center;
}

.stats__name p:first-child {
  height: 20px;
}

.stats__name ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__value p:first-child {
  height: 20px;
}

.stats__value ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__value li {
  margin: 1px;
  height: 36px;
  width: 50px;
  color: white;
}

.stats__value li input {
  text-align: center;
  border: 1px solid black;
  height: 25px;
  width: 40px;
}

.stats__vModifier p:first-child {
  height: 20px;
}

.stats__vModifier ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  margin-right: 5px;
}

.stats__vModifier ul li {
  margin-top: 7px;
  margin-bottom: 12px;
}

.stats__Temp p:first-child {
  height: 20px;
}

.stats__Temp ul {
  background-color: #9698a6;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__Temp li {
  height: 37px;
  width: 50px;
  color: white;
}

.stats__Temp li input {
  text-align: center;
  border: none;
  height: 25px;
  width: 40px;
}

.stats__tModifier p:first-child {
  height: 20px;
}

.stats__tModifier li:last-child {
  margin-bottom: 6px;
}

.stats__tModifier ul {
  background-color: #9698a6;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__tModifier ul li {
  margin-top: 6px;
  margin-bottom: 12px;
}

.HpAndArmor {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.HpAndArmor .hp__name p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__name ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__value p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__value ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__value li {
  margin-left: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.HpAndArmor .hp__extra p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__extra ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__extra input {
  width: 50px;
}

.HpAndArmor .hp__extra li {
  margin-left: 5px;
  height: 25px;
}

.HpAndArmor .hp__wounds {
  width: 170px;
  margin-left: 20px;
}

.HpAndArmor .hp__wounds p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__wounds ul {
  width: inherit;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__wounds li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
}

.HpAndArmor .hp__wounds input {
  margin-left: 5px;
  width: inherit;
}

.HpAndArmor .hp__wounds li {
  height: 25px;
}

.HpAndArmor .hp__nonlethaldamage p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__nonlethaldamage ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__nonlethaldamage input {
  width: 50px;
}

.HpAndArmor .hp__nonlethaldamage li {
  height: 25px;
}

.HpAndArmor .hp__speed {
  margin-left: 20px;
  margin-right: 20px;
}

.HpAndArmor .hp__speed p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__speed ul {
  width: 120px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__speed li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
}

.HpAndArmor .hp__speed input {
  margin-left: 12px;
  width: inherit;
}

.HpAndArmor .hp__speed li {
  height: 25px;
}

.HpAndArmor .ac__name p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .ac__name ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .ac__input ul {
  padding: 0;
}

.HpAndArmor .ac__input ul li {
  margin-top: 5px;
  margin-left: 5px;
}

.HpAndArmor .ac__input ul li p {
  text-align: center;
}

.HpAndArmor .ac__base ul {
  padding: 0;
}

.HpAndArmor .ac__base ul li {
  margin-top: 5px;
  margin-left: 5px;
}

.HpAndArmor .ac__base ul li p {
  font-size: 15px;
  text-align: center;
}

.HpAndArmor .ac__reduction ul {
  padding: 0;
}

.HpAndArmor .ac__reduction ul li {
  margin-top: 5px;
  margin-left: 5px;
}

.HpAndArmor .ac__reduction ul li div {
  width: 80px;
}

.HpAndArmor .ac__reduction ul li input {
  width: 80px;
}

.HpAndArmor .ac__plus {
  margin-left: 5px;
  margin-top: 5px;
}

.HpAndArmor .ac__plus p {
  font-size: 15px;
}

.HpAndArmor .ac__flatName ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HpAndArmor .ac__flatName ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HpAndArmor .init {
  margin-top: 6px;
}

.HpAndArmor .init__inicitiveName {
  margin-right: 10px;
}

.HpAndArmor .init__inicitiveName ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HpAndArmor .init__inicitiveName ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HpAndArmor .init__inicitiveValue {
  text-align: center;
}

.HpAndArmor .init__dex {
  margin-left: 6px;
  text-align: center;
}

.HpAndArmor .init__misc {
  margin-right: 20px;
  margin-left: 6px;
  text-align: center;
}

.ArmorAndIniciative {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.ArmorAndIniciative ul {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ArmorAndIniciative li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ArmorAndIniciative h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}

.ArmorAndIniciative .ac__plus p {
  font-size: 14px;
}

.skill__name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 0;
  margin-right: 0;
  width: 190px;
}

.skill__name input {
  margin: 0;
}

.skill__name p {
  font-weight: 800;
  font-size: 9px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skill__modifier {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 45px;
  margin: 0;
}

.skill__modifier p {
  font-size: 10px;
  text-align: center;
}

.skill__skills {
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.skill__skills input {
  margin-left: 0 auto;
  border: none;
  border-bottom: 1px solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 37px;
}

.skill__value {
  margin: 0;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skill__value p {
  text-align: center;
  width: 45px;
}

.skill__container {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 12;
}

.skill ul {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skill ul h1 {
  margin-left: 40%;
  margin-right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.skill ul li:nth-child(1) {
  margin: auto;
  width: 415px;
}

.skill ul li:nth-child(1) div:nth-child(2) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 0;
  text-align: right;
}

.skill ul li:nth-child(2) div:first-child {
  width: 190px;
}

.skill ul li:nth-child(2) div:first-child p {
  text-align: left;
  color: black;
  font-size: 15px;
}

.skill ul li:nth-child(2) div {
  border: 1px solid black;
  padding: 5px 4px 5px 4px;
  width: 45px;
}

.skill ul li:nth-child(2) div p {
  text-align: center;
}

.skillcontainer {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.saves {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.saves__bar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.saves__bar ul {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.saves__bar ul:first-child {
  margin-right: 5px;
}

.saves__bar li {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.saves__bar .Box__black:first-child {
  width: 130px;
}

.saves__bar .save {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.saves__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 81%;
  margin-left: 0;
}

.saves .others__modifier {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.saves .others__modifier div {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.saves .others__modifier div input {
  width: 100px;
  height: 85px;
}
/*# sourceMappingURL=style.css.map */