.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p {
  margin-top: 3px;
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  color: black;
}

.debug {
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans',sans-serif;
  line-height: 1.3;
  color: #9698a6;
  font-size: 14px;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.container--pall {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-l {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-b {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Box__black {
  margin: 2px;
  text-align: center;
  padding: 2px 7px 2px 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80px;
  background-color: black;
  color: white;
}

.Box__black p {
  margin: 0 auto;
  color: white;
}

.Box__black h1 {
  font-size: 17px;
  font-weight: 1000;
}

.Box__value {
  height: 36px;
  width: 50px;
  color: white;
  margin: 1px;
}

.Box__value p {
  background-color: white;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  width: 40px;
}

.Box__input {
  margin: 1px;
  height: 36px;
  width: 50px;
  color: white;
}

.Box__input input {
  text-align: center;
  border: 1px solid black;
  height: 25px;
  width: 40px;
}

button, .button {
  padding: 0.875rem 2.875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  display: inline-block;
  font-size: 8px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.75;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

@media (min-width: 64em) {
  h2 {
    font-size: 36px;
    margin-bottom: 36px;
  }
}

@media (max-width: 63.937em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desk {
    display: none;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.header .header__box:nth-child(-n+4) {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.header .header__box:nth-child(n+5) {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
}

.header .header__box:nth-child(n+8) {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}

.header__box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header__input {
  width: 100%;
  height: 20px;
  border: none;
}

.header__line {
  border: 1px solid black;
  height: 2px;
  width: 100%;
}

.header__text p {
  margin-bottom: 0px;
  margin-top: 2px;
}

.header__logo {
  position: absolute;
  left: 100%;
  width: 250px;
  height: 100%;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.stats {
  width: 30%;
}

.stats p {
  text-align: center;
}

.stats__name p:first-child {
  height: 20px;
}

.stats__name ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__value p:first-child {
  height: 20px;
}

.stats__value ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__value li {
  margin: 1px;
  height: 36px;
  width: 50px;
  color: white;
}

.stats__value li input {
  text-align: center;
  border: 1px solid black;
  height: 25px;
  width: 40px;
}

.stats__vModifier p:first-child {
  height: 20px;
}

.stats__vModifier ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__Temp p:first-child {
  height: 20px;
}

.stats__Temp ul {
  background-color: #9698a6;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__Temp li {
  height: 37px;
  width: 50px;
  color: white;
}

.stats__Temp li input {
  text-align: center;
  border: none;
  height: 25px;
  width: 40px;
}

.stats__tModifier p:first-child {
  height: 20px;
}

.stats__tModifier ul {
  background-color: #9698a6;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.stats__tModifier p {
  border: none;
}

.HpAndArmor {
  width: 70%;
  height: 50%;
}

.HpAndArmor .hp__name p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__name ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__value p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__value ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__extra p:first-child {
  height: 20px;
  text-align: center;
  margin-top: 3px;
}

.HpAndArmor .hp__extra ul {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

.HpAndArmor .hp__extra input {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */